<section class="MX-10">
    <h2 class="text-xl font-thin"></h2>
</section>
<section class="stats shadow">
    <div class="stat place-items-center">
      <div class="stat-title">Población</div>
      <div class="stat-value">{{country().population | number }}</div>
      <div class="stat-desc">From January 1st to February 1st</div>
    </div>
  
    <div class="stat place-items-center">
      <div class="stat-title">Nombre</div>
      <div class="stat-value text-secondary">{{country().name}}</div>
      <div class="stat-desc text-secondary">{{country().capital}}</div>
    </div>
  
    <div class="stat place-items-center">
      <div class="stat-title">Region</div>
      <div class="stat-value">{{country().region}}</div>
      <div class="stat-desc">{{country().subRegion}}</div>
    </div>
    <div class="stat place-items-center">
        <div class="stat-title">SubRegion</div>
        <div class="stat-value">{{country().subRegion}}</div>
        <div class="stat-desc">{{country().capital}}</div>
      </div>
      <div class="stat place-items-center">
        <div class="stat-title">Bandera</div>
        <div class="stat-value">{{country().flag}}</div>
        <div class="stat-desc">{{country().cca2}}</div>
      </div>
  </section>
  <section class="diff aspect-16/9" tabindex="0">
    <div class="diff-item-1" role="img">
      <img [alt]="country().name" [src]="country().flagSvg" />
    </div>
    <div class="diff-item-2" role="img" tabindex="0">
        <img [alt]="country().name" [src]="country().flagSvg"  class="blur brightness-75"/>
    </div>
    <div class="diff-resizer"></div>
  </section>
