<h1>{{ name() }}</h1>

<dl>
  <td>Nombre:</td>
  <dd>{{ name().toLocaleUpperCase() }}</dd>

  <td>Edad:</td>
  <dd>{{ age() }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>
  <td>Computed signal</td>
  <dd>{{ heroDescripcion() }}</dd>

  <td>Capitalizado:</td>
  <td>Nombre:</td>
  <dd>{{ name().toLocaleUpperCase() }}</dd>

  <td>Capitalizado by computed signal:</td>
  <td>Nombre:</td>
  <dd>{{ capitalizedName() }}</dd>

  <td>Capitalizado by Pipe:</td>
  <td>Nombre:</td>
  <dd>{{ name() | uppercase }}</dd>
</dl>

<button (click)="changeHero()" class="btn btn-primary mx-2">
  Cambiar nombre
</button>

<button (click)="changeAge()" class="btn btn-primary">Cambiar edad</button>

<button (click)="resetForm()" class="btn btn-primary mx-2">Reset</button>
